@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root
{
    --cor0: #d90429;
    --cor-texto: #020102;
    --cor-bg:#fff; 


    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
    --black: #585858;
    --yellowsec: #FFC815;
    --bluesec: #219ebc;
    --orangeclr: #fb8500;
    --anotherblue: #0F5298;
}

/*html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}*/

section
{
    padding: 4rem  6%;
}
footer
{
    padding: 4rem  6%;
}

header
{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.down{
   background: #fff;
   box-shadow: 2px 4px 4px rgb(12 54 55 / 20%);
   transition: .2s ease-in-out;
}

header.down .navbar a,header.down #pesquisa, header.down .logo, header.down #menu-btn{
    color: var(--cor-texto);
}

.contentor
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-btn
{
    font-size: 24px;
    cursor: pointer;
    color:var(--cor-bg);
    display: none;
}

.logo
{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cor-bg);
}

.logo span {color: var(--cor0);}

.navbar
{
    display: flex;
    column-gap: 2rem;
}

.navbar a{
    color: var(--cor-bg);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .6s inherit;
}
.activo
{
    color: var(--cor0);
    border-bottom: 3px solid var(--cor0);
}
.navbar a:hover
{
    color: var(--cor0);
    border-bottom: 3px solid var(--cor0);
}

#pesquisa
{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.bar-pesquisa
{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: #fff;
    box-shadow: 3px 3px 3px rgb(12 54 55 / 10%);
    border-radius: 0.5rem;
    border: 1px solid var(--cor0);
    clip-path: circle(0% at 100% 0);
}

.bar-pesquisa.active{
    clip-path: circle(142% at 100% 0);
}

.bar-pesquisa input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home{
    /*max-width: 100px;*/
    margin: auto;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    background:url(../img/serviceCar1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home .texto{   padding-left: 120px; }

.home .texto h1 { font-size: 2.4rem; color: #fff;}

.home .texto span{ color: #d90429;}

.home .texto p {
    font-size: 0.948rem;
    font-weight: 300px;
    margin: 0.5rem 0 1.2rem;
    color: white;
    text-shadow: 2px 2px black;
}

.btn {
    padding: 10px 40px;
    background: var(--cor0);
    font-weight: 400;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}

.btn:hover {
    color: #d90429;
    background-color: white; 
}

.heading {  text-align: center;  margin-bottom: 30px;}

.heading span {
    font-weight: 500;
    color: var(--cor0);
}

.heading p {
    font-size: 0.950rem;
    font-weight: 300;
}



.destaque {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.dest-img{  flex: 1 1 21rem;}

.dest-texto{    flex: 1 1 21rem;}

.dest-texto span{
    font-weight: 500;
    color: var(--cor0);
}

.dest-texto h2{ font-size: 1.7rem;}

.dest-texto p{
    font-size: 0.938rem;
    margin: .5rem 0 1.4rem;
}



.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    background-color: #f6f6f6;
}

.services .box-container .box i{
    height:4rem;
    width:4rem;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 1rem;
    background:#000000;
    color: white;
}
.services .box-container .box:hover i{
    background-color: white;
    color: var(--cor-texto);
}
.services .box-container .box h3{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.servicebtn{
    background: var(--orangeclr)!important;
}
.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1rem;
    color: rgb(22, 22, 22);
}

.services .box-container .box:hover{
    background: var(--cor-texto);
    transition: .3s ease-in-out;
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}








.rodape
{
    background-color: #020102;
    color: #eeeded;
    padding: 2rem 6%;
    border-top: 2px solid #d90429;
}

.footer-contentor
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-contentor .logo
{
    color: #fff;
    margin-bottom: 1rem;
}

.footer-contentor .footer-box
{
    display: flex;
    flex-direction: column;
}

.social
{
    display: flex;
    align-items: center;
}

.social a
{
    color: white;
    margin-right: 20px;
    font-size: 22px;
}

.footer-box h3
{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-box a
{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{ color: #d90429;}

.copy
{
    text-align: center;
    margin-top: 25px;
}



@media(max-width: 1080px)
{
    .contentor
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media(max-width: 991px)
{
    .nav{   
        padding: 15px 20px;
    }

    section{
        padding: 3rem 0 1rem;
    }

    .texto
    {
        padding-left: 2rem;
    }
    .texto h1 { font-size: 2.1rem;}

}

@media(max-width: 920px)
{
    #pesquisa{
        color: #ffffff;
    }
}

@media(max-width: 775px)
{
    .bar-pesquisa i nput{
        padding: 15px;
    }
    .nav
    {
        padding:10px 0;
    }

    #menu-btn
    {
        display: initial;
        padding: 0 20px;
    }
    .navbar 
    {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        background: #fff;
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(12 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: .5s ease-in-out;
    }
    .navbar a{
        display: block;
        padding: 15px;
    }

    .navbar a:hover,
    .navbar .activo
    {
        border-bottom: none;
        background: #d90429;
        color: #fff ;
    }

    .navbar.active{
        clip-path: circle(142% at 0% 0%);
    }

}

@media(max-width: 730px)
{
    
    .heading span{
        font-size: .9rem;
    }

    .heading h2{
        font-size: 1.4rem;
    }

    .destaque{
        flex-direction: column-reverse;
    }

    .dest-texto{
        text-align: center;
    }

    .dest-texto h2{
        font-size: 1.4rem;
    }
}


@media(max-width: 607px)
{
    .footer-contentor{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 360px)
{
    .bar-pesquisa input{
        padding: 11px;
    }

    .home
    {
        min-height: 500px;
    }

    .home h1{
        font-size: 2rem;
    }

    .home p br{
        display: contents;
    }
}

/*__________ Scroll Bar_ ________________*/
::-webkit-scrollbar
{
    background: #020102;
    width: 10px;
}

::-webkit-scrollbar-thumb { background: linear-gradient(to bottom,#fff,#020102); }
/*______________________________________________*/